html {
    height: 100%;
    width: 100%;
  }
  
  @font-face {
    font-family: Hacked;
    src: url(hacked-28425/Hacked-KerX.ttf);
  }
  
  .word{
    font-family: Hacked;
  }


  body {
  background: url(imgs/backdrop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #de2221;
  }

  li{
    font-family: Hacked;
  }
  
  .helpy{
    height: 30%;
    width: 10%;
  }
 


/* oher btn */
  .add {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  .add:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  .add:active {
    background-color: rgb(255, 255, 255) !important;
    color: rgb(0, 0, 0) !important;
  }


  /* clear btn */
  .clear {
    background-color: rgb(210, 0, 230);
    color: white;
  }
  
  .clear:hover {
    background-color: rgb(170, 0, 185);
    color: white;
  }
  
  .clear:active {
    background-color: rgb(106, 0, 116) !important;
    color: white !important;
  }