html {
    height: 100%;
    width: 100%;
  }
  
  @font-face {
    font-family: Hacked;
    src: url(hacked-28425/Hacked-KerX.ttf);
  }
  
  .word{
    font-family: Hacked;
  }


  body {
  background: url(imgs/backdrop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #de2221;
  }

  li{
    font-family: Hacked;
  }
  